<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WSI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WSI.My.MySettings>
            <setting name="OnStartup" serializeAs="String">
                <value />
            </setting>
            <setting name="Windows" serializeAs="String">
                <value />
            </setting>
            <setting name="AmateurBands" serializeAs="String">
                <value />
            </setting>
            <setting name="Age" serializeAs="String">
                <value />
            </setting>
            <setting name="Update" serializeAs="String">
                <value />
            </setting>
            <setting name="Alert" serializeAs="String">
                <value />
            </setting>
        </WSI.My.MySettings>
    </userSettings>
</configuration>
